{% extends 'base.html' %}
{% block title %}Top 5 Movies{% endblock %}

{% block content %}
    {% include 'nav.html' %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Current Top Five Movies
                </h1>
            </div>
        </div>
    </section>
    
    <section class="section">
    <!--making list for top five movies-->
        <ol>
            {% for info in imdb %}
            <li>{{info}}</li>
            
            {% endfor%}
        </ol>
    </section>

{%include 'footer.html' %}
{% endblock %}